body {
  padding-top: 50px;
  padding-bottom: 20px;
}


.banner {
  position: relative;
}

.banner img {
  /* Make image responsive */
  display: block;
  width: 100%;
  max-height: auto:
}

.banner>.caption {
  position: absolute;
  top: 0;
  width: 25%;
  height: 100%;
  background: white;
  opacity: 0.6;
}

.banner>.caption>h1,
.banner>.caption>h2 {
  text-align: center;
}

.banner>.caption>h1 {
  font-size: 5vw
}

.banner>.caption>h2 {
  font-size: 4vw;
}